body {
  font: 0.9rem Helvetica, '微軟正黑體', Sans-Serif;
}

h1 {
  text-align: center;
}

table {
  border: 2px solid black;
  margin: auto;
  max-width: 450px;
  width: 80%;
}

td {
  border: 1px solid black;
  width: auto;
}

.left {
  background-color: lightgray;
  width: 20%;
  text-align: center;
  letter-spacing: 0.2rem;
  padding: 5px;
}

.data {
  padding-left: 7px;
}

.pic {
  width: 98px;
  height: 125px;
  padding: 5px;
}
